@import url("https://fonts.googleapis.com/css2?family=Creepster&family=Lobster&display=swap");

body {
  font-family: "Creepster";
  /*font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;*/
}

.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
  backdrop-filter: blur(10px);
}

.navbar-toggler {
  border: none;
  color: var(--bs-navbar-brand-color);
}

.navbar-toggler:focus {
  box-shadow: none;
}

.ig {
  font-family: "Lobster";
}

.normal {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
